:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --secondary-color: #CACACA;
    --link-color: #0066cc;
    --button-border-color: #cccccc;
    --icon-color: #333333; /* Dark color for light mode */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 40px 20px;
}

h1 {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px 0;
}

.updated {
    font-size: 14px;
    color: var(--secondary-color);
    margin: 0 0 30px 0;
}

p {
    margin: 0 0 5px 0;
    font-size: 14px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    font-size: 14px;
    margin: 10px 0;
}

.footnote {
    font-size: 14px;
    color: var(--secondary-color);
    margin-top: 10px;
}

.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px 12px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease;
    outline: none;
}

.dark-mode-toggle:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

body.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --secondary-color: #b3b3b3;
    --link-color: #66b3ff;
    --button-border-color: #555555;
    --icon-color: #ffffff; /* White color for dark mode */
}

body.dark-mode .dark-mode-toggle {
    background: var(--bg-color);
    color: var(--text-color);
    border-color: var(--button-border-color);
}

body.dark-mode .dark-mode-toggle:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

.icon {
    width: 12px;
    height: 12px;
    margin-left: 1px;
    filter: invert(0%); /* Default to dark color for light mode */
}

body.dark-mode .icon {
    filter: invert(100%); /* White color for dark mode */
}

.rounded-button {
    background-color: var(--button-bg, #000000);
    color: var(--button-text, #ffffff);
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.rounded-button:hover {
    opacity: 0.8;
}

body.dark-mode .rounded-button {
    background-color: var(--button-bg, #ffffff);
    color: var(--button-text, #000000);
}
